:root {
    --body-bg-color: rgb(248 248 248);
    --container-bg-color: rgb(232, 224, 224);
    --primary: #FFF;
    --secondary: #525298;
    --secondary-bg-color: hsl(39, 100%, 50%);
    --display-bg: #FFF;
    --theme-btn-bg: rgb(230, 221, 221);
    --display-keyboard-bg: #e9e4e4;
    --input-display-font-color: rgb(14, 14, 14);

}

.darkmode {
    --body-bg-color: rgb(248 248 248);
    --container-bg-color: #1e1c28;
    --primary: #FFF;
    --secondary: #525298;
    --display-bg: #262837;
    --theme-btn-bg: rgb(230, 221, 221);
    --input-display-font-color: rgb(245, 230, 230);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--body-bg-color);
}

.container {
    width: 300px;
    background-color: var(--container-bg-color);
    border: 0.5px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
}

.calc-display {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    padding: 0rem 1rem 1.5rem 1rem;
    border-radius: 10px;
    background-color: var(--display-bg);
    height: 200px;
}

.calc-display .calc-upper-div-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    gap: 165px;
}

.calc-upper-div-controls .left-items {
    color: var(--input-display-font-color);
}

.calc-upper-div-controls .right-items {
    color: var(--input-display-font-color);
}

.calc-display-controls .theme-btn {
    border: none;
    border-radius: 20px;
    background-color: var(--theme-btn-bg);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    width: 2rem;
    height: 2rem;
    font-size: 1.4rem;
}

.calc-display-controls .theme-btn:hover {
    filter: brightness(90%);
}

.calc-display-controls .theme-btn i:last-child {
    display: none;
}

.darkmode .calc-display-controls .theme-btn i:first-child {
    display: none;
}

.darkmode .calc-display-controls .theme-btn i:last-child {
    display: block;
}

.calc-display-history {
    color: var(--input-display-font-color);
    font-size: 18px;
}

.calc-display-value {
    color: var(--input-display-font-color);
    font-size: 2rem;
    font-weight: 700;
}

.calc-keyboard {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.special-operators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.special-operators .calc-spec-btn {
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;
    color: gray;
    width: 3rem;
    height: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}

.calc-btn-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.calc-btn-grid .calc-btn-number {
    height: 3rem;
    width: 3rem;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-btn-grid .calc-btn-operator {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    height: 3rem;
    width: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-btn-grid .calc-btn-acent {
    background-color: var(--secondary-bg-color);
    color: var(--primary);
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    height: 3rem;
    width: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


button.active {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
    transform: scale(0.95);
    transition: all 0.1s ease;
}